<?xml version="1.0" encoding="UTF-8"?>
<web-app>  

<servlet>  
<servlet-name>quadratic_solver</servlet-name>  
<servlet-class>code</servlet-class>  
</servlet>  
<servlet-mapping>  
<servlet-name>quadratic_solver</servlet-name>  
<url-pattern>/quadratic_solver</url-pattern>  
</servlet-mapping> 

<servlet>  
<servlet-name>lcm_solver</servlet-name>  
<servlet-class>code1</servlet-class>  
</servlet>  
<servlet-mapping>  
<servlet-name>lcm_solver</servlet-name>  
<url-pattern>/lcm_solver</url-pattern>  
</servlet-mapping> 

<servlet>  
<servlet-name>hcf_solver</servlet-name>  
<servlet-class>code2</servlet-class>  
</servlet>  
<servlet-mapping>  
<servlet-name>hcf_solver</servlet-name>  
<url-pattern>/hcf_solver</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>sum_interval</servlet-name>  
<servlet-class>code3</servlet-class>  
</servlet>  
<servlet-mapping>  
<servlet-name>sum_interval</servlet-name>  
<url-pattern>/sum_interval</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>power_series</servlet-name>  
<servlet-class>code4</servlet-class>  
</servlet>  
<servlet-mapping>  
<servlet-name>power_series</servlet-name>  
<url-pattern>/power_series</url-pattern>  
</servlet-mapping>

</web-app>  