<?xml version="1.0" encoding="UTF-8"?>
<web-app>  

<servlet>  
<servlet-name>s_c</servlet-name>  
<servlet-class>code</servlet-class>  
</servlet>  
<servlet-mapping>  
<servlet-name>s_c</servlet-name>  
<url-pattern>/s_c</url-pattern>  
</servlet-mapping> 

<servlet>  
<servlet-name>kc</servlet-name>  
<servlet-class>code1</servlet-class>  
</servlet>  
<servlet-mapping>  
<servlet-name>kc</servlet-name>  
<url-pattern>/kc</url-pattern>  
</servlet-mapping> 

<servlet>  
<servlet-name>prime</servlet-name>  
<servlet-class>code2</servlet-class> 
</servlet>  
<servlet-mapping>  
<servlet-name>prime</servlet-name>  
<url-pattern>/pme</url-pattern>  
</servlet-mapping> 

<servlet>  
<servlet-name>amg</servlet-name>  
<servlet-class>code3</servlet-class> 
</servlet>  
<servlet-mapping>  
<servlet-name>amg</servlet-name>  
<url-pattern>/amg</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>cel</servlet-name>  
<servlet-class>code4</servlet-class> 
</servlet>  
<servlet-mapping>  
<servlet-name>cel</servlet-name>  
<url-pattern>/cel</url-pattern>  
</servlet-mapping>
</web-app>  